<nav class="navbar bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-brands fa-joomla"></i>
        </a>

        <!-- Desktop Layout -->
        <div class="desktop-layout d-none d-md-flex">

            <!-- Left Links -->
            <div class="desktop-left">

                <a class="nav-link" href="/listings">
                    All Listings
                </a>

                <% if(currUser){ %>
                    <a class="nav-link" href="/listings/your-listings">
                        My Listings
                    </a>
                <% } %>

            </div>

            <!-- Search -->
            <form
                class="d-flex navbar-search"
                role="search"
                action="/listings/search"
                method="GET">

                <input
                    class="form-control me-2 search-bar"
                    type="search"
                    name="searchText"
                    placeholder="Search">

                <button class="btn btn-success btn-search" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>

            </form>

            <!-- Right Links -->
            <div class="desktop-right">

                <a class="nav-link" href="/listings/createNew">
                    Add Listing
                </a>

                <% if(!currUser){ %>

                    <a class="nav-link" href="/signup">
                        <b>Sign Up</b>
                    </a>

                    <a class="nav-link" href="/login">
                        <b>Login</b>
                    </a>

                <% } %>

                <% if(currUser){ %>

                    <a
                        class="nav-link"
                        href="/logout"
                        onclick="return confirm('Are you sure you want to log out?')">

                        <b>Logout</b>

                    </a>

                <% } %>

            </div>

        </div>

        <!-- Mobile Search -->
        <form
            class="d-flex navbar-search-mobile d-md-none"
            role="search"
            action="/listings/search"
            method="GET">

            <input
                class="form-control me-2 search-bar"
                type="search"
                name="searchText"
                placeholder="Search">

            <button class="btn btn-success btn-search" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>

        </form>

        <!-- Hamburger -->
        <button
            class="navbar-toggler d-md-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mobileMenu"
            aria-controls="mobileMenu"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

    </div>

    <!-- Mobile Menu -->
    <div class="collapse d-md-none w-100" id="mobileMenu">

        <div class="mobile-links">

            <a class="nav-link" href="/listings">
                All Listings
            </a>

            <% if(currUser){ %>

                <a class="nav-link" href="/listings/your-listings">
                    My Listings
                </a>

            <% } %>

            <a class="nav-link" href="/listings/createNew">
                Add Listing
            </a>

            <% if(!currUser){ %>

                <a class="nav-link" href="/signup">
                    <b>Sign Up</b>
                </a>

                <a class="nav-link" href="/login">
                    <b>Login</b>
                </a>

            <% } %>

            <% if(currUser){ %>

                <a
                    class="nav-link"
                    href="/logout"
                    onclick="return confirm('Are you sure you want to log out?')">

                    <b>Logout</b>

                </a>

            <% } %>

        </div>

    </div>

</nav>