<% layout("/layouts/boilerplate") %>
<div class="row mt-5">
    <div class="alert alert-danger w-50 mx-auto" role="alert">
        <h4 class="alert-heading"><%= err.message %></h4>
    </div>
</div>
 